

@media screen and (max-width: 900px) {
    .burger__menu{
        width: 30px;
        height: 60px;
        margin-top: 20px;
    
        &__div{
            border-top: solid black;
        }
    
    }
    
    .padding{
        padding-bottom: 10%;
    }
}

@media screen and(min-width: 900px) {

    .burger__menu{
        position: absolute;
        width: 30px;
        height: 60px;
        margin-top: 20px;
    
    }

    
}
